@use './variables' as vars;
@use './mixins' as mixins;
@use './navbar';
@use "tailwindcss";


:root {
  --p-card-background: #18181b !important;
  --p-datatable-header-background: #18181b !important;
  --p-datatable-header-cell-background: #18181b !important;
  --p-datatable-header-cell-border-color: #18181b !important;
  --p-datatable-row-background: #18181b !important;
  --p-datepicker-header-background: #18181b !important;
  --p-datepicker-panel-background: #18181b !important;
  --p-datatable-footer-background: #18181b !important;
  --p-inputtext-background: #18181b !important;
  --p-textarea-background:#18181b !important;
  --p-select-background: #18181b !important;


}
/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: vars.$text-color;
  overflow-x: hidden;
  background-color: #212122;
}

.p-datatable-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.p-datatable-footer {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.p-datepicker-day {
  color: white !important;
}

.p-inputtext {
  color: white !important;
}

.p-textarea {
  color: white !important;
}


.text-success {
  color: vars.$secondary-color;;
}

.text-error {
  color: vars.$text-color-warning;
}

.task-title {
  color: vars.$text-color;
}